{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="{% static 'js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/sell.css' %}">
       <link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body style="margin: 0 !important;padding: 0 !important;font-family: muse;">
<script type="text/javascript">



 var fb_api_app_id;
   if (in_production == false){
     
      fb_api_app_id = '394555824254104';
   }

   else{
       
        fb_api_app_id = '394391410937212';

   }

    window.fbAsyncInit = function() {
  FB.init({
    // first one is test id
    appId      : fb_api_app_id,
    // appId      : '1174285602624484',
    // appId      : '1136272963092415',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  // FB.getLoginStatus(function(response) {
  //   statusChangeCallback(response);
  // });

  FB.getLoginStatus(function(response) {
       if (response.status === 'connected') {
              FB.api('/me?fields=picture.width(30).height(30)', function(response) {
                      var profile_picture_url_FB = response.picture.data.url;
                      $(".profilepicture").attr("src", profile_picture_url_FB);


              });



       }
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>


{% if request.user.is_authenticated %}

  <div class="logo_and_navigation">
  <div class="header_line">
    <div class="logo"><img src="{% static 'images/tick-tock.png' %}" align="left" /></div>
    <div class="navigation">
      <a href="/catologue/" class="navigation_link">Події</a>
      <a href="" class="navigation_link">FAQ</a>
      <a href="" class="navigation_link">Про проект</a>
      <a href="" class="navigation_profile_link"><img class='profilepicture' style="width: 30px;height: 30px;border-radius:50%;border: solid 1px #ffffff;background-color: gray;display: inline-block; text-align: center;" align="left" /><div class="navigation_profile_username">{{ request.user.userprofile.first_name}} {{ request.user.userprofile.last_name}}</div></a>
      <div class="sell_button"><a href="/sell/" style="line-height: 40px;color: #145cfb;text-decoration: none;" onclick="openNav()">Продати квиток</a></div>
    </div>  
  </div>
    

  </div>

{% else %} 

  <div class="logo_and_navigation">
  <div class="header_line">
    <a href="/"><div class="logo"><img src="{% static 'images/tick-tock.png' %}" align="left" /></div></a>
    <div class="navigation">
      <a href="/catologue/" class="navigation_link">Події</a>
      <a href="" class="navigation_link">FAQ</a>
      <a href="" class="navigation_link">Про проект</a>
        <div class="login_button"><span style="line-height: 40px;color: #145cfb;" onclick="openNav()">Войти</span></div>
   
   <!--    <div class="sell_button"><a href="/sell/" style="line-height: 40px;color: #145cfb;text-decoration: none;" onclick="openNav()">Продати квиток</a></div> -->
    </div>  
  </div>
    

  </div>

 {% endif %}   


<div class="b-g">
  <div class="page_desc">
    <span class="davai_prodavai">Продати Квиток</span>
    <span class="ti_sho_tupoy">Не зможете відвідати подію? Продавайте квиток без зайвих зусиль</span>
  </div>
  

</div>



<div style="margin-left: 7.4%;margin-top: 35px;">
  
  <div style="  font-family: muse_bold;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.12;
  letter-spacing: 0.6px;
  text-align: left;">Вітаємо!</div>
  <div style="  width: 352px;

  height: 54px;
  margin-top: 8px;
  opacity: 0.5;
  font-family:muse_bold;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
 /* line-height: 1.69;*/
  letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
">Ваш квиток знаходится на модерації, і в найближчому часі буде доданий в систему</div>
</div>


</body>
</html>