{% extends 'blog/base.html' %}

{% block content %}
{% load static %}
 <link rel="stylesheet" href="{% static 'css/catologue.css' %}">
 <script type="text/javascript" src={% static 'js/integration.js' %}></script>
<!-- {% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Rambam</title>
  <link rel="stylesheet" href="{% static 'css/catologue.css' %}">
     <script type="text/javascript" src="{% static 'js/production_or_local.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body style="margin: 0 !important;padding: 0 !important;font-family: muse;">



<script type="text/javascript">



 var fb_api_app_id;
   if (in_production == false){
     
      fb_api_app_id = '394555824254104';
   }

   else{
       
        fb_api_app_id = '394391410937212';

   }

	  window.fbAsyncInit = function() {
  FB.init({
    // first one is test id
    appId      : fb_api_app_id,
    // appId      : '1174285602624484',
    // appId      : '1136272963092415',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  // FB.getLoginStatus(function(response) {
  //   statusChangeCallback(response);
  // });

  FB.getLoginStatus(function(response) {
       if (response.status === 'connected') {
              FB.api('/me?fields=picture.width(30).height(30)', function(response) {
                      var profile_picture_url_FB = response.picture.data.url;
                      $("#profilepicture").attr("src", profile_picture_url_FB);


              });



       }
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
 -->
  

{% if request.user.is_authenticated %}

	<div class="logo_and_navigation">
	<div class="header_line">
		<a href="/"><div class="logo"><img src="{% static 'images/tick-tock.png' %}" align="left" /></div></a>
		<div class="navigation">
			<a href="/catologue/" class="navigation_link">Події</a>
			<a href="" class="navigation_link">FAQ</a>
			<a href="" class="navigation_link">Про проект</a>
			<div class="navigation_profile_link"><img class='profilepicture' style="width: 30px;height: 30px;border-radius:50%;border: solid 1px #ffffff;background-color: gray;display: inline-block; text-align: center;" align="left" /><div class="navigation_profile_username">{{ request.user.userprofile.first_name}} {{ request.user.userprofile.last_name}}</div></div>
			<div class="sell_button"><a href="/sell/" style="line-height: 40px;color: #145cfb;text-decoration: none;" onclick="openNav()">Продати квиток</a></div>
		</div>	
	</div>
		

	</div>


  {% else %} 

  <div class="logo_and_navigation">
  <div class="header_line">
    <a href="/"><div class="logo"><img src="{% static 'images/tick-tock.png' %}" align="left" /></div></a>
    <div class="navigation">
      <a href="/catologue/" class="navigation_link">Події</a>
      <a href="" class="navigation_link">FAQ</a>
      <a href="" class="navigation_link">Про проект</a>
          <div class="e_login_button"><span style="line-height: 40px;color: #145cfb;" onclick="openNav()">Войти</span></div>
      <div class="e_sell_button"><a href="/sell/" style="line-height: 40px;color: white;text-decoration: none;" onclick="openNav()">Продати квиток</a></div>
    </div>  
  </div>
  </div>
 {% endif %}   
    



	<div class="b-g">
		<div class="b-g-top">
			<span class="b-g-search-title">Події</span>
			  <form action="/search/" method="POST" class="search_form">
        {% csrf_token %}
	              <div class="make_elegant_form">
          	         	 <input type="text" placeholder="введіть назву події.." name="key" value="{{ key }}" id="search_field"></input>
               
                    	         	 
                    	         	 <div type='button' class="city_select">


                                 <img class='location_img' src="{% static 'images/location.png' %}"/>
                                 <div style="line-height: 48px;display: inline-block;margin-left: 7px;">Київ</div>



                                </div>
          	         
          	         	     

                  
	         	   
                </div>
                      <input type="submit" value="Знайти" сlass="search_button"></input>
                        <div class="search_result_container" style="position: absolute;width: 713px;z-index: 3;margin-top:7px;margin-left:4%;border-radius: 2px;border:2px solid #f8f9fb;display: none;-webkit-box-shadow: 1px 3px 6px 0px rgba(45, 52, 49, 0.45);
-moz-box-shadow:    1px 3px 6px 0px rgba(45, 52, 49, 0.45);
box-shadow:         1px 3px 6px 0px rgba(45, 52, 49, 0.45);"></div>
	         </form>
	         <div class="show_filter">Фільтри</div>
		</div>
		<div class="b-g-bottom">
			<span class="number_of_search_results">
				<span style="
	font-size: 14px;
	color: #113ffa;
	font-family: muse_bold;
"> {{ events_number }}</span>
				<span style="	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;">результатів пошуку</span>
			</span>
		</div>

	</div>

	<div style="padding-bottom: 60px;">

	<div id="events_container" style="position: relative;margin-left: 5%;margin-top: 50px;">
		
      {% for event in events %}
      <a href="/event/{{ event.id}}">
			<div class="event_card">
				 <div style="height: 201px; background: url('{{ event.image_link }}') no-repeat; background-size: cover;/*filter: contrast(1.35);*/"></div>
				 <div style="height: 109px;margin-left: 12px;">
              <div class="event_date"> {{ event.date}}</div>
              <div class="event_title">{{ event.title|truncatewords:2 }}</div>
              <div class="event_place"> {{ event.place }}</div>


<div class="hashtag_cont"><span class="event_hashtag">#{{ event.hashtag }} </span></div>
            <!--   <span class="event_hashtag">#</span> -->

         </div>
			</div>
			
	  </a>
			{% endfor %}



	</div>	


<!--   {% if events_number > 15 %}  -->

  <div class="load_more"><span style="line-height: 48px;opacity: 0.8;
font-family: muse_bold;color: #145cfb;">Більше подій</span></div>

<!--   {% endif %} -->

	</div>
 
<script type="text/javascript">

var page_number = 1;
 $(function() {


 // $('.search_button').click(function(){


 //  alert();




 // }) 


$('#search_field').keyup(function(event) {

 $('.chosen_event_container').remove();

 var key = $('#search_field').val()

   $.ajax({
        url: '/live_search/',
        type : "POST", // http method
        dataType: 'json',
        data : { key : key, csrfmiddlewaretoken: "{{ csrf_token }}" }, // data sent with the post request

        // handle a successful response
        success : function(data) {
             var sed = JSON.parse(data['events']);
             // if (sed.length > 0){
                 $('.search_result_container').empty();
              // alert(JSON.stringify(sed));

                     for (var i = 0; i < sed.length; i++) {
                       var item = sed[i];
                        
                       $('.search_result_container').fadeIn();
                    
                       $('.search_result_container').append('<a href="/event/' + item.pk +'"><div data-title="' + item.fields.title +'" data-image="' + item.fields.image_link +'"  data-date="' + item.fields.date +'"  data-place="' + item.fields.place +'"  data-hashtag="' + item.fields.hashtag +'" class="search_item"><span class="item_fields_title" >' + item.fields.title +'<span class="item_datetime">' + item.fields.date +'</span></span></div></a>');




                     }


        
        },
        error : function() {
            $('.search_result_container').show()
               $('.search_result_container').empty()
               $('.search_result_container').append('<div style="position:relative;width:100%;height:54px;background:white;"><span style="line-height:44px;margin-left:30px;">Це мабуть якась помилка. Спробуйте повне перезавантаження сторінки</span></div>')
        }
    });

});















$('.load_more').click(function(){



   $.ajax({
        url: '/load_more/',
        type : "POST", // http method
        dataType: 'json',
        data : {page_number:page_number, csrfmiddlewaretoken: "{{ csrf_token }}" }, 
        success : function(data) {
             page_number++;

             var sed = JSON.parse(data['events']);
             // if (sed.length > 0){
                 // alert(JSON.stringify(data))
                     for (var i = 0; i < sed.length; i++) {
                       var item = sed[i];
                       
                    
                       $('#events_container').append('<a href="/event/' + item.pk +'"><div class="event_card" ><div style="height: 201px; background: url(' + item.fields.image_link + ') no-repeat; background-size: cover;/*filter: contrast(1.35);*/"></div><div style="height: 109px;margin-left: 12px;"><div class="event_date">' + item.fields.date + '</div><div class="event_title">' + item.fields.title + '</div><div class="event_place">' + item.fields.place + '</div><div class="hashtag_cont"><span class="event_hashtag">#' + item.fields.hashtag + ' </span></div></div></a>');
                       

                    


                     } 

                   

        
        },
        error:function(){
               alert('Все, моя остановочка');
        }
      });


})


 });

 </script>

{% endblock content %}  