{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Rambam</title>
  <link rel="stylesheet" href="{% static 'css/catologue.css' %}">
     <script type="text/javascript" src="{% static 'js/production_or_local.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body style="margin: 0 !important;padding: 0 !important;font-family: muse;">


<script type="text/javascript">
	
 var fb_api_app_id;
   if (in_production == false){
     
      fb_api_app_id = '394555824254104';
   }

   else{
       
        fb_api_app_id = '394391410937212';

   }

	  window.fbAsyncInit = function() {
  FB.init({
    // first one is test id
    appId      : fb_api_app_id,
    // appId      : '1174285602624484',
    // appId      : '1136272963092415',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  // FB.getLoginStatus(function(response) {
  //   statusChangeCallback(response);
  // });

  FB.getLoginStatus(function(response) {
       if (response.status === 'connected') {
              FB.api('/me?fields=picture.width(30).height(30)', function(response) {
                      var profile_picture_url_FB = response.picture.data.url;
                      $("#profilepicture").attr("src", profile_picture_url_FB);


              });



       }
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

	<div class="logo_and_navigation">
	<div class="header_line">
		<div class="logo"><img src="{% static 'images/tick-tock.png' %}" align="left" /></div>
		<div class="navigation">
			<a href="/catologue/" class="navigation_link">Події</a>
			<a href="" class="navigation_link">FAQ</a>
			<a href="" class="navigation_link">Про проект</a>
			<a href="" class="navigation_profile_link"><img id='profilepicture' style="width: 30px;height: 30px;border-radius:50%;border: solid 1px #ffffff;background-color: gray;display: inline-block; text-align: center;" align="left" /><div class="navigation_profile_username">{{ request.user.userprofile.first_name}} {{ request.user.userprofile.last_name}}</div></a>
			<div class="sell_button"><a href="/sell/" style="line-height: 40px;color: #145cfb;text-decoration: none;" onclick="openNav()">Продати квиток</a></div>
		</div>	
	</div>
		

	</div>



	<div class="b-g">
		<div class="b-g-top">
			<span class="b-g-search-title">Події</span>
			  <form class="search_form">
	              <div class="make_elegant_form">
          	         	 <input type="text" placeholder="введіть назву події.." ></input>
               
                    	         	 
                    	         	 <div type='button' class="city_select">


                                 <img class='location_img' src="{% static 'images/location.png' %}"/>
                                 <div style="line-height: 48px;display: inline-block;margin-left: 7px;">Київ</div>



                                </div>
          	         
          	         	     

                  
	         	   
                </div>
                      <input type="button" value="Знайти"  сlass="search_button"></input>
	         </form>
	         <div class="show_filter">Фільтри</div>
		</div>
		<div class="b-g-bottom">
			<span class="number_of_search_results">
				<span style="
	font-size: 14px;
	color: #113ffa;
	font-family: muse_bold;
"> {{ events_number }}</span>
				<span style="	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;">результатів пошуку</span>
			</span>
		</div>

	</div>

	<div>

	<div style="position: relative;margin-left: 5%;margin-top: 2.3%;">
		
      {% for event in events %}
      <a href="/event/{{ event.id}}">
			<div style="width: 216px;display: inline-block;margin-left: 30px;margin-top: 20px;border: solid 1px #f8f9fb;box-shadow: 0 0 3px 0 rgba(6,7,14,0.12);;">
				 <div style="height: 201px; background: url('{{ event.image_link }}') no-repeat; background-size: cover;/*filter: contrast(1.35);*/"></div>
				 <div style="height: 109px;margin-left: 12px;">
              <span class="event_date"> {{ event.date}}</span>
              <span class="event_title">{{ event.title }}</span>
              <span class="event_place">{{ event.city}}, {{ event.place }}</span>

            <!--   <span class="event_hashtag">#</span> -->

         </div>
			</div>
			
	  </a>
			{% endfor %}

	</div>		

	</div>

</body>
</html>