{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
     <script type="text/javascript" src="{% static 'js/production_or_local.js' %}"></script>
  <script src="{% static 'js/dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/sell.css' %}">
       <link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet"/>

</head>
<body>




<script type="text/javascript">

function getCookie(name) {
  var value = "; " + document.cookie;
  var parts = value.split("; " + name + "=");
  if (parts.length == 2) return parts.pop().split(";").shift();
}
var csrftoken = getCookie('csrftoken');
 $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    });



 var fb_api_app_id;
   if (in_production == false){
     
      fb_api_app_id = '394555824254104';
   }

   else{
       
        fb_api_app_id = '394391410937212';

   }






  







 function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      // testAPI();
      authFB();
      // alert('connected');

    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      // document.getElementById('status').innerHTML = 'Please log ' +
      //   'into this app.';
          alert('2');
           loginDialogFB()

    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      // document.getElementById('status').innerHTML = 'Please log ' +
      //   'into Facebook.';
           // alert('3');
            loginDialogFB()
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

function loginDialogFB(){

  FB.login(function(response){
   // alert(JSON.stringify(response))
   // alert(response.authResponse.userID)
  authFB();

      // alert(JSON.stringify(response))
},  {scope: 'email, user_friends'} );
}



  window.fbAsyncInit = function() {
  FB.init({
    // first one is test id
    appId      : fb_api_app_id,
    // appId      : '1174285602624484',
    // appId      : '1136272963092415',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use graph api version 2.8
  });

  // Now that we've initialized the JavaScript SDK, we call
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  // FB.getLoginStatus(function(response) {
  //   statusChangeCallback(response);
  // });

  FB.getLoginStatus(function(response) {
       if (response.status === 'connected') {
              FB.api('/me?fields=friends,cover,picture.width(90).height(90)', function(response) {
                      var profile_picture_url_FB = response.picture.data.url;
                    // alert(JSON.stringify(response))
                  

                    
                     
                      if (response.cover.source != null){

                         var profile_cover_url_FB = response.cover.source;
                          var beginning = 'url('
                          var ending = ') no-repeat'
                          var tadam = beginning + profile_cover_url_FB  + ending;
                        $(".fb_cover").css({'background' : tadam, 'background-size': '100%', 'filter':'blur(4px)' })

                      }


                      $(".profilepicture").attr("src", profile_picture_url_FB);
                      $('.number_of_friends').append(response.friends.summary.total_count)
                   

                     
                      
              });



       }
    });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));




  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  // function testAPI() {
  //   console.log('Welcome!  Fetching your information.... ');
  //   FB.api('/me', function(response) {
  //     console.log('Successful login for: ' + response.name);
  //     document.getElementById('status').innerHTML =
  //       'Thanks for logging in, ' + response.name + '!';
  //   });
  // }

// checkLoginState()

function authFB(fb_user_id){
 $(function() {

  
  $('.sidenav').append('<div class="loading_white_wall"><div class="sk-cube-grid"><div class="sk-cube sk-cube1"></div><div class="sk-cube sk-cube2"></div><div class="sk-cube sk-cube3"></div><div class="sk-cube sk-cube4"></div><div class="sk-cube sk-cube5"></div><div class="sk-cube sk-cube6"></div><div class="sk-cube sk-cube7"></div><div class="sk-cube sk-cube8"></div><div class="sk-cube sk-cube9"></div></div></div>');


  })

FB.api('/me?fields=first_name,last_name,email,name,link', function(response) {

var fb_first_name = response.first_name;
var fb_last_name = response.last_name;
var fb_id = response.id;
var fb_email = response.email
var fb_username = response.name
var fb_link = response.link

// alert(response.name)
 
// alert(JSON.stringify(response.first_name))
 
// ajaxPost('/authfb/', {'username': fb_first_name , 'fb_id': fb_id}, function(){ 
$.ajax({
    url: '/authfb/',
    type:'POST',
    dataType: 'json',
    data: {"fb_first_name": fb_first_name, "fb_last_name": fb_last_name, "fb_username": fb_username, "fb_email":fb_email, "fb_id":fb_id, "fb_link":fb_link,'csrfmiddlewaretoken': getCookie('csrftoken') },
    success: function (data) {
      // alert(data['email']);
      if (data['email'] === '' || data['phone_number'] === '') {
       

       
     
      // alert(typeof(data['email']))
      // alert('succes');
      setTimeout(
  function() 
  {
    $('#hide_group').hide();
    $('#show_group').show();
    $('.loading_white_wall').fadeOut();
    $('.greeting_title_name').html(fb_first_name);
    if(fb_email){ 
     
      $(".email_input").prop("value", fb_email);
    }

    else{

        $(".email_input").prop("placeholder", 'E-mail');
    }


  }, 1000);

       }


     else{
   
        // closeNav();
        $('.bread').hide()
        $('.hamez').show()


     }  
      
    },
    error : function(data) {
      
      $('#hide_group').hide();
      $('#error_group').show();
      $('.loading_white_wall').fadeOut();

    }


  })



                                  });


                 }







var authed = new Boolean(false);



// global variables for inserting into 
 var fd;
 ajax_fb_ok = new Boolean(false);
 var ajax_event_id;
 ajax_type_of_ticket_digital = new Boolean(true);
 var ajax_number_of_tickets = 1;


 $(function() {


var obj = $("#dragandrophandler");
obj.on('dragenter', function (e) 
{
    e.stopPropagation();
    e.preventDefault();
    $(this).css('border', '2px solid #0B85A1');
});
obj.on('dragover', function (e) 
{
     e.stopPropagation();
     e.preventDefault();
});
obj.on('drop', function (e) 
{
 
     $(this).css('border', '2px dotted #0B85A1');
     e.preventDefault();
     var files = e.originalEvent.dataTransfer.files;
 
     //We need to send dropped files to Server
     handleFileUpload(files,obj);
});


$(document).on('dragenter', function (e) 
{
    e.stopPropagation();
    e.preventDefault();
});
$(document).on('dragover', function (e) 
{
  e.stopPropagation();
  e.preventDefault();
  obj.css('border', '2px dotted #0B85A1');
});
$(document).on('drop', function (e) 
{
    e.stopPropagation();
    e.preventDefault();
});



// Events for drag and drop





if ("{{ request.user.is_authenticated }}" == 'False'){

$('.hamez').hide()
$('.bread').show()


}


else {

// $('.hamez').hide()



}









function handleFileUpload(files,obj)
{
   for (var i = 0; i < files.length; i++) 
   {
        // var fd = new FormData();
        // fd.append('file', files[i]);
 
        // var status = new createStatusbar(obj); //Using this we can set progress.
        // status.setFileNameSize(files[i].name,files[i].size);
        // sendFileToServer(fd,status);
        // alert(fd);

        // ValidateExtension(files[i]);
        fd = files[i]
       if( ValidateExtension(files[i])){




// fd.append('file', files[i]);§


fd = files[i]
        // ajax_ticket_file = fd


       }

       else{


        alert('not PDF');
       }

       //  else{

       //      $("<div>PDF file is uploaded</div>").insertAfter('#dragandrophandler');

       //  }

      
 
   }
}


 function ValidateExtension(checkfile) {
        var check_file = checkfile
        var allowedFiles = [".doc", ".docx", ".pdf"];
        var fileUpload = document.getElementById("fileUpload");
        var lblError = document.getElementById("lblError");
        var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(" + allowedFiles.join('|') + ")$");
        if (!regex.test(check_file.name.toLowerCase())) {
            // lblError.innerHTML = "Please upload files having extensions: <b>" + allowedFiles.join(', ') + "</b> only.";
            return false;
        }

        else{
         

         return true;

        }
        // lblError.innerHTML = "";
    }

$('#get_from_folder').click(function(){

$('#fileinput').trigger('click'); 


})


$('.submit_button').click(function(){

$('#error_not_filled_span').remove()
var comment_field_val = $('#comment_field').val();
if ( comment_field_val == ""){
   $("<span id='error_not_filled_span' style='color:red;font-size:12px;'>Обов'язкове поле</span>").insertAfter('#comment_field');


}
else if (ajax_event_id == null){
 alert('hey');

}
else{
$('#submit_hidden').trigger('click'); 
}


// $('#fileinput').remove()
// $('.pdf_form')append('<input id="fileinput" name="pdf" value=""></input>')

   // $.ajax({
   //      url: '/upload_ticket/',
   //      type : "POST", // http method // tell jQuery not to process the data  // tell jQuery not to set contentType
   //      data : { file : ajax_ticket_file, csrfmiddlewaretoken: "{{ csrf_token }}" }, // data sent with the post request

   //      // handle a successful response
   //      success : function() {
   //        alert('succes');
   //      },

   //      // handle a non-successful response
   //      error : function() {
   //         alert('error');
   //      }
   //  });


//    $.ajax({
//     url: '/upload_ticket/',
//     data: { file : fd, csrfmiddlewaretoken: "{{ csrf_token }}" },
//     type: 'POST',
//     // contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
//     // processData: false, // NEEDED, DON'T OMIT THIS
//     dataType: 'json',
//     success : function() {
//           alert('succes');
//         },

//         // handle a non-successful response
//         error : function() {
//            alert('error');
//         }
// });






})





});

</script>


{% if request.user.is_authenticated %}

  <div class="logo_and_navigation">
  <div class="header_line">
    <div class="logo"><img src="{% static 'images/tick-tock.png' %}" align="left" /></div>
    <div class="navigation">
      <a href="/catologue/" class="navigation_link">Події</a>
      <a href="" class="navigation_link">FAQ</a>
      <a href="" class="navigation_link">Про проект</a>
      <a href="" class="navigation_profile_link"><img class='profilepicture' style="width: 30px;height: 30px;border-radius:50%;border: solid 1px #ffffff;background-color: gray;display: inline-block; text-align: center;" align="left" /><div class="navigation_profile_username">{{ request.user.userprofile.first_name}} {{ request.user.userprofile.last_name}}</div></a>
      <div class="sell_button"><a href="/sell/" style="line-height: 40px;color: #145cfb;text-decoration: none;" onclick="openNav()">Продати квиток</a></div>
    </div>  
  </div>
    

  </div>

{% else %} 

  <div class="logo_and_navigation">
  <div class="header_line">
    <a href="/"><div class="logo"><img src="{% static 'images/tick-tock.png' %}" align="left" /></div></a>
    <div class="navigation">
      <a href="/catologue/" class="navigation_link">Події</a>
      <a href="" class="navigation_link">FAQ</a>
      <a href="" class="navigation_link">Про проект</a>
        <div class="login_button"><span style="line-height: 40px;color: #145cfb;" onclick="openNav()">Войти</span></div>
   
   <!--    <div class="sell_button"><a href="/sell/" style="line-height: 40px;color: #145cfb;text-decoration: none;" onclick="openNav()">Продати квиток</a></div> -->
    </div>  
  </div>
    

  </div>

 {% endif %}   



<div class="b-g">
  <div class="page_desc">
    <span class="davai_prodavai">Продати Квиток</span>
    <span class="ti_sho_tupoy">Не зможете відвідати подію? Продавайте квиток без зайвих зусиль</span>
  </div>
  

</div>


<div style="margin-left: 7.1%;">

<span class="point_text" style="display: block;
  margin-top: 51px;">
  Оберіть подію, на яку бажаєте продати квиток
</span>  



   <form class="search_form">
                <div class="make_elegant_form">
                       <input type="text" placeholder="введіть назву події.." id="search_field"></input>
               
                                 
                                 <div type='button' class="city_select">


                                 <img class='location_img' src="{% static 'images/location.png' %}"/>
                                 <div style="line-height: 48px;display: inline-block;margin-left: 7px;">Київ</div>



                                </div>
                     
                           

                  
               
                </div>
                      <input type="button" value="Знайти"  сlass="search_button"></input>
                      <div class="search_result_container" style="position: absolute;width: 713px;z-index: 3;margin-top:7px;border-radius: 2px;border:2px solid #f8f9fb;display: none;-webkit-box-shadow: 1px 3px 6px 0px rgba(45, 52, 49, 0.45);
-moz-box-shadow:    1px 3px 6px 0px rgba(45, 52, 49, 0.45);
box-shadow:         1px 3px 6px 0px rgba(45, 52, 49, 0.45);"></div>
           </form>

</div>

<div class="bread" style="display:none;margin-left: 7.1%;">
  
 <span class="sidenav_title">Ввійдить через одну з соціальних мереж</span>
       <span class="sidenav_text">Залогінившись за допомогою соціальної мережі, ви використовуваєте власний профіль як <br> гарант вашої порядочності</span>

      <div class="fb-login-button-custom" onClick="checkLoginState();" style="background: url({% static 'images/f-b.png' %});width: 400px;height: 56px;background-color: #3a5998;position:relative;display:block;display: inline-block;"></div>
        <div class="vk-login-button-custom" onClick="VKcheckLoginState();" style="background: url({% static 'images/v-k.png' %});width: 400px;height: 56px;margin-left:16px;display: inline-block;"></div>
        <span class="sidenav_prohibited_test"><img src="{% static 'images/prohibited.svg' %}" style="margin-right: 8px;"  align="left" />Ми нічого не будемо публікувати на вашії сторінці</span>
</div>


<div class="hamez">


  
  <form method='POST' action="/upload_ticket/" enctype="multipart/form-data" class="pdf_form">
{% csrf_token %}
            {{ form.as_p }}

  
      <input type="submit" id='submit_hidden'>Save</input>
  </form>


  


<span class="point_text" style="display: block;
  margin-top: 51px;">
  Деталі квитка
</span>  

<div class="number_of_tickets_output_field">
  <span class="number_of_tickets_title">Кількість квитків</span><br/>
   <span class="the_very_number_of_tickets">1</span>
</div>


<!-- <div style="display: inline-block;">
    
    <div class="math_operation_trigger" id="plus_trigger"></div>
    <div class="math_operation_trigger" id="minus_trigger"></div>

</div> -->


<div class="number_of_tickets_output_field" style="margin-left: 0.8%;">
  <span class="number_of_tickets_title">Ціна квитка</span><br/>
   <div class="the_very_number_of_tickets" id="price_number">0</div>
</div>


<div style="display: inline-block;">
    
    <div class="math_operation_trigger" id="plus_trigger"></div>
    <div class="math_operation_trigger" id="minus_trigger"></div>

</div>

<span class="point_text" style="display: block;
  margin-top: 51px;">
  Тип квитка
</span>


<div class="ticket_option" id="e_ticket"><span style="line-height: 50px">Електронний</span></div>
<div class="ticket_option" id="a_ticket"><span style="line-height: 50px;opacity: 0.5;
">Аналоговий</span></div>


<textarea id="comment_field" class="explain_why_please" placeholder="Інші коментарі(тут ви можете вказати тип квитка, та причину продажу)"></textarea>

<span class="point_text" style="display: block;
  margin-top: 51px;">
  Завантажте квиток
</span>

<div id="dragandrophandler">

<div style="position:relative;margin-left: 28px;margin-top: 33px;">
  
<span class="d_and_d_text">Перетяніть файли в дану зону, <br>
або <u style="color: #44a4ff;" id="get_from_folder">оберіть в папці</u><br><br>
<span class="only_pdf_text">Підтримуються файли тільки в форматі PDF</span>
</span></div>
</div>

<div class="submit_button"><span style="line-height: 48px;color: white;font-size: 14px;">Опублікувати квиток</span></div>

</div>

<script type="text/javascript">
  
 



 $(function() {


$('#comment_field').mouseleave(function(event) {
$('#error_not_filled_span').remove()
var comment_field_val = $('#comment_field').val();
  // alert(comment_field_val);
if ( comment_field_val == ""){
   $("<span id='error_not_filled_span' style='color:red;font-size:12px;'>Обов'язкове поле</span>").insertAfter('#comment_field');


}


})



$('#search_field').keyup(function(event) {
 // alert($('#search_field').val());
 $('.chosen_event_container').remove();

 var key = $('#search_field').val()

   $.ajax({
        url: '/live_search/',
        type : "POST", // http method
        dataType: 'json',
        data : { key : key, csrfmiddlewaretoken: "{{ csrf_token }}" }, // data sent with the post request

        // handle a successful response
        success : function(data) {
             var sed = JSON.parse(data['events']);
             // if (sed.length > 0){
                 $('.search_result_container').empty();


                     for (var i = 0; i < sed.length; i++) {
                       var item = sed[i];
                        
                       $('.search_result_container').fadeIn();
                    
                       $('.search_result_container').append('<div data-title="' + item.fields.title +'" data-image="' + item.fields.image_link +'"  data-date="' + item.fields.date +'"  data-place="' + item.fields.place +'"  data-hashtag="' + item.fields.hashtag +'"  data-pk="' + item.pk +'" class="search_item"><span class="item_fields_title" >' + item.fields.title +'<span class="item_datetime">' + item.fields.date +'</span></span></div>');




                     } 

                     $('.search_item').click(function() {
                                 
                                  
                                  $('.search_result_container').fadeOut();
                                  var pk = $(this).data("pk") ;
                                  ajax_event_id = pk;
                                  var title = $(this).data("title") ;
                                  var image_link = $(this).data("image");
                                  var date = $(this).data("date");
                                  var place = $(this).data("place");
                                  var hashtag = $(this).data("hashtag");
                            
                                  $('#search_field').val(title);
                                  $('<div class="chosen_event_container"><img class="chosen_event_container_image" style="background: url(' + image_link + ') no-repeat; background-size: cover;margin-right:23px;" align="left" /><span class="chosen_event_container_datetime">' + date + '</span><span class="chosen_event_container_title">' + title + '</span><span class="chosen_event_container_place">' + place +'</span><div class="hashtag_cont"><span class="hashtag_span">#' + hashtag +'</span></div></div>').insertAfter('.search_form');

                                  })




                  // }
              // else{

              //    $('.search_result_container').show()
              //          $('.search_result_container').empty()
              //          $('.search_result_container').append('<div class=""search_item" style="color:red;"><span class="item_fields_title"  style="color:red;">Зрада! Такого івенту нема. Ви впевнені, що правопис ок?</span></div>')
              // }


        
        },
        error : function() {
            $('.search_result_container').show()
               $('.search_result_container').empty()
               $('.search_result_container').append('<div style="position:relative;width:100%;height:54px;background:white;"><span style="line-height:44px;margin-left:30px;">Це мабуть якась помилка. Спробуйте повне перезавантаження сторінки</span></div>')
        }
    });

});



$('#plus_trigger').click(function(){
  
  // alert(typeof($('#price_number').val()))
var price_number_val = Number($('#price_number').html());
 var new_price_number =  price_number_val + 50

 $('#price_number').empty()
 $('#price_number').append(new_price_number)



})


$('#minus_trigger').click(function(){
  
  // alert(typeof($('#price_number').val()))
var price_number_val = Number($('#price_number').html());
if (price_number_val != 0){
   $('#price_number').empty()
var new_price_number =  price_number_val - 50
    $('#price_number').append(new_price_number)

}





})


$('#a_ticket').click(function(){

$('#a_ticket').css({'border' : 'solid 1px #145cfb', 'color':'#145cfb'})
$('#e_ticket').css({'border' : 'none', 'color':'#145cfb'})

})

$('#e_ticket').click(function(){

$('#e_ticket').css({'border' : 'solid 1px #145cfb', 'color':'#145cfb'})
$('#a_ticket').css({'border' : 'none', 'color':'#145cfb'})

})




 })

</script>
</body>
</html>