@font-face {
    font-family: muse;
    src: url('../fonts/museosansotf.otf');
}

@font-face {
    font-family: muse_bold;
    src: url('../fonts/muse500bold.ttf');
}

@font-face {
    font-family: muse_light;
    src: url('../fonts/MuseoSansLight.ttf');
}



body {    
    margin: 0 !important;
    padding: 0 !important;
    
}

a:link{
	
	text-decoration: none;
	
}

a:visited{

		 text-decoration: none;
}




.logo_and_navigation {
	position: relative;
    margin-left:auto;
	width: 100%;
	height: 80px;
	background:white;
}


.logo{
	position: relative;
	color: #091026;
	margin-left: 56px;
	margin-top: 7px;
	/*margin-bottom: 30px;*/
	/*display: inline-block;*/
	float: left;

}

.navigation{
    position: relative;
    /*margin-left: 35%;
	display: inline-block;*/
	float: right;
}

.header_line{
    position: block;
	padding-top:20px;
}



.navigation_link{
	position: relative;
	display: inline-block;
	font-size: 14px;
	color: #06070e;
	margin-right: 55px;
}

.navigation_profile_link{

	display: inline-block;
	/*margin-left: 56px;*/
	vertical-align: middle;

	/*margin-top: 40px;*/
}


.navigation_profile_username{
    display: inline-block;
	/*object-fit: contain;*/
	font-family: muse_bold;
	margin-top: 7px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	/*  height: 30px;*/
	/* margin-bottom: 20px;*/
	letter-spacing: normal;
/*	text-align: left;*/
	color: #091026;
	margin-left: 10px;
	/* text-align: center;*/
 /* vertical-align: middle;*/
     margin-right: 32px;

}



.sell_button{
	display: inline-block;
	width: 152px;
	height: 40px;
	font-size: 14px;
	
	margin-right: 56px;
	color: white;

	text-align: center;
border: solid 1px #145cfb;
    
	box-shadow: 0 0 4px 0 rgba(20, 92, 251, 0.42);




}


.e_login_button{

		display: inline-block;
	width: 152px;
	height: 40px;
	font-size: 14px;
	
	margin-right: 8px;
	color: white;

	text-align: center;
border: solid 1px #145cfb;
    
	box-shadow: 0 0 4px 0 rgba(20, 92, 251, 0.42);

}

.e_sell_button{
	display: inline-block;
	width: 152px;
	height: 40px;
	font-size: 14px;
	margin-right: 52px;
	color: white;


	text-align: center;
	background-color: #145cfb;
	box-shadow: 0 0 4px 0 rgba(20, 92, 251, 0.42);




}





.bg{

	width: 100%;
	height: 189px;
	position: relative;
	margin-top: 0px;
	padding-bottom: 5px;
	background-color: #f8f9fb;

}


.datetime{
	width: 180px;
	height: 17px;
	opacity: 0.9;
	position: relative;
	font-family: muse_light;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
	padding-top: 56px;
	margin-left: 7.3%;

}


.event_title{
		width: 735px;
	height: 36px;
	opacity: 0.87;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.0;
	letter-spacing: normal;
	text-align: left;
	color: #06070e;
	margin-left: 7.3%;
	margin-top: 8px;
}


.event_place{

	position: relative;
	height: 12px;
	font-family: muse_light;
	margin-left: 7.3%;
	margin-top: 0px;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.86;
	letter-spacing: normal;
}

.poster{
	box-shadow: 0 0 8px 0 rgba(8, 15, 38, 0.15);

}

.under_poster_motivation{

		width: 223px;
	height: 38px;
	opacity: 0.6;
	position: relative;
	/*margin-top: 10px;*/
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.36;
	letter-spacing: normal;
	text-align: left;
	color: #06070e;
}


.event_hashtag{


		width: 57px;
	height: 14px;
	font-family: muse_bold;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.0;
	letter-spacing: normal;
	color: #145cfb;
	margin-left: 7.5%;
	line-height: 48px;
	text-transform: lowercase;
}


.bg_bottom{

	  position: relative;
	width: 100%;
	height: 48px;
	background-color: #ffffff;
	margin-top: 45px;
box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.one_left{

	position: relative;
	display: inline-block;
	width: 771px;
	margin-left: 7.4%;
	/*background:yellow;*/
}

.one_right{
	position: absolute;
	display: inline-block;
	/*background:yellow;*/
	width: 20%;
	height: 500px;
	margin-left: 15%;
	/*margin-bottom: 200px;*/
	margin-top: -80px;

}

.event_sell_button{
	display: inline-block;
	width: 240px;
	height: 40px;
	background-color: #145cfb;
	font-size: 14px;
	
	color: white;

	text-align: center;
	margin-top: 16px;
	box-shadow: 0 0 4px 0 rgba(20, 92, 251, 0.42);




}



.event_numbers{
    position: relative;
	display: inline-block;
	margin-top: 80px;
	width: 800px;
	margin-left: -100px;
}

.event_number{

	width: 161px;
	height: 66px;
	font-family: muse;
	font-size: 36px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.0;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	display: inline-block;
	margin-left: 100px;
}
.event_number_element_span{

    width: 85px;
	height: 27px;
	opacity: 0.8;
	font-family: muse_light;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #06070e;

}


.event_description{


		width: 120%;
	/*height: 96px;*/
	opacity: 0.5;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.71;
	letter-spacing: -0.1px;
	text-align: left;
	margin-top: 75px;
	/*margin-left: 7.4%;*/
	color: #000000;
}

.title_who_seller{
    position: relative;
    margin-top: 40px;
	width: 188px;
	height: 22px;
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.0;
	letter-spacing: 0.6px;
	text-align: left;
	color: #000000;
	margin-left: 7.4%;

}

/*.title_table{
position: relative;
margin-left: 7.4%;
margin-top: 82px;
z-index: -1;

}
*/
/*.table{
    margin-top: 32px;
	margin-left: 7.4%;
	width: 750px;
	min-height: 400px;
	padding-bottom: 20px;
	background: yellow;
}*/

.no_tickets{

	width: 745px;
	height: 186px;
	background-color: #f8f9fb;
    padding-left: 40px;
    margin-left: 7.4%;
    margin-top: 3.6%;
}


.no_tickets_text{

		/*width: 654px;*/
	height: 42px;
	opacity: 0.32;
	margin-top: 16px;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.31;
	letter-spacing: 0.3px;
	color: #000000;
}


.follow_ticket{
   margin-top:16px;
		width: 240px;
	height: 40px;
	background-color: #145cfb;
	box-shadow: 0 0 4px 0 rgba(20, 92, 251, 0.42);
	text-align: center;
	color: white;
	font-size:13px;
}

.similar_events{
    margin-top: 112px;
	margin-left: 7.4%;
	margin-bottom: 70px;
}


.title_similar_events{
	width: 146px;
	height: 33px;
	opacity: 0.8;
	font-size: 28px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #06070e;
}





.similar_event_date{
    position: relative;
    display: block;
    margin-top: 14px;
	width: 129px;
	height: 12px;
	opacity: 0.9;
	font-family: muse_light;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #000000;
}


.similar_event_title{
      position: relative;
    display: block;
    margin-top: 5px;
	width: 198px;
	height: 40px;
	font-family: muse_bold;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: normal;
	color: #000000;
}



.similar_event_place{
 position: relative;
    display: block;
    margin-top: 6px;
		width: 177px;
	height: 12px;
	opacity: 0.7;
	font-family: muse_light;
	font-size: 10px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	color: #000000;
}





.ticket_rectangle{

    width: 745px;
	/*height: 194px;*/
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 #f0f1f3;
/*	padding-bottom: 5px;*/
	margin-top: 30px;
	  margin-left: 7.4%;


}


.ticket_first_name{

	/*display: inline-block;*/
	
	width: 67px;
	height: 15.8px;
	opacity: 0.8;
	font-size: 19px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 0.79;
	letter-spacing: normal;
	text-align: center;
	color: #000000;
	margin-left: -10px;


}

.ticket_number_of_friends{

		margin-top: 8px;
	opacity: 0.4;
	
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	display: inline-block;
}

.ticket_the_very_number_of_friends{
    
	/*	width: 21px;*/
	display: inline-block;
	height: 14.8px;
	opacity: 1;
	font-family: muse_bold;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;

}


.t_r_bottom{

	width: 100%;
	height: 40px;
	border-top: solid 2px #f0f1f3;

}

.t_r_bottom_left_span{


	width: 183px;
	height: 14.8px;
	opacity: 0.6;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #000000;
	line-height: 40px;
	margin-left: 30px;

}

.connect{

		width: 180px;
	height: 42.2px;
	background-color: #f8f9fb;
	position: relative;
/*	display: inline-block;*/
	text-align: center;
	float: right;
	
}


.connect:hover{

	
	cursor: pointer;
	color: red;
}


.connect_span{

	width: 59px;
	height: 12px;
	opacity: 0.7;
	font-family:muse_bold;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.0;
	letter-spacing: normal;
	text-align: center;
	color: #06070e;
	line-height: 40px;

}

